//Vendors
//@import 'vendors/foundation';
// Common
@import 'common/base'; //@import 'common/fonts';
//@import 'common/icons';
//@import 'common/mixins';
//@import 'common/misc';
//@import 'common/typography';
//@import 'common/buttons';
//@import 'common/form-elements';
//@import 'common/list';
@import "bootstrap-grid.css";
@import "bootstrap-grid.min.css";
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700'); //@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto Condensed', sans-serif;
  color: #ffffff;
  font-size: 15px;
  font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
}

h1 {
  font-size: 40px;
}

#headerWrapper {
  background-image: url("../images/background.jpg");
  background-position: center;
  min-height: 100vh;
  width: 100vw;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginBox,
.loginForm,
.logo {
  border-radius: 1%;
}

.loginForm,
.logo {
  border: 1px solid rgba(255, 255, 255, .3);
}

#logo {
  display: flex;
  justify-content: flex-end;
}

.logo {
  width: 159.6px;
  height: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginBox {
  height: 606px;
  background-color: #00c2d7;
  display: flex;
  flex-direction: column;
  align-items: center;
  @media (min-width: 769px) and (max-width: 1024px) {
    width: auto;
  }
  @media (min-width: 1025px) {
    width: 546px;
  }

  h1 {
    padding-top: 32px;
  }

  span {
    padding-bottom: 89px;
  }
}

.loginForm {
  width: 80%;
  height: 253px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  @media (min-width: 769px) and (max-width: 1024px) {
    width: 80%;
  }
  @media (min-width: 1025px) {
    width: 489px;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 108px;
  }
}

.loginForm::before {
  content: "";
  top: -50px;
  position: absolute;
  background-color: #ffffff;
  width: 94px;
  height: 94px;
  border-radius: 50%;
}

.loginFormRow {
  display: flex;
  flex-direction: row;
  padding-top: 21px;
  padding-bottom: 21px;

  button {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: #00cfe0;
    border: 1px solid #00cfe0;
    //color: #ffffff;
    //display: flex;
    //justify-content: center;
  }
}

nav a {
  color: #ffffff;
  text-decoration: none;
}

.clientPassword, .close, .buttonPassword {
  display: none;
}
