//Vendors
//@import 'vendors/foundation';
// Common
@import 'common/base'; //@import 'common/fonts';
//@import 'common/icons';
//@import 'common/mixins';
//@import 'common/misc';
//@import 'common/typography';
//@import 'common/buttons';
//@import 'common/form-elements';
//@import 'common/list';
@import "bootstrap-grid.css";
@import "bootstrap-grid.min.css";
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700'); //@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto Condensed', sans-serif;
  color: #ffffff;
  font-size: 8px;
  font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
}

h1 {
  font-size: 20px;
}

#headerWrapper {
  background-image: url("../images/background.jpg");
  background-position: center;
  min-height: 100vh;
  width: 100vw;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginBox,
.loginForm,
.logo,
.productsBoxes {
  border-radius: 2%;
}

.loginForm,
.logo {
  border: 1px solid rgba(255, 255, 255, .3);
}

#logo {
  display: flex;
  justify-content: flex-start;
  padding-bottom: 10px;
  @media (min-width: 769px) {
    justify-content: flex-end;
  }
}

.logo {
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 48px;
    height: 37px;
  }
}

.loginBox {
  height: 303px;
  background-color: #00c2d7;
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    padding-top: 16px;
  }

  span {
    padding-bottom: 45px;
  }
}

.loginForm {
  width: 80%;
  height: 127px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  @media (min-width: 769px) and (max-width: 1024px) {
    width: 80%;
  }
  @media (min-width: 1025px) {
    width: 245px;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 37px;
  }

  .loginFormRow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 5px;

    button,
    img {
      margin-left: 5px;
    }
  }
}

.loginForm::before {
  content: "";
  top: -25px;
  position: absolute;
  background-color: #ffffff;
  width: 47px;
  height: 47px;
  border-radius: 50%;
}

#loginFirstStep,
#loginSecondStep {
  button {
    font-size: 6px;
    width: 59px;
    height: 16px;
    background-color: #ffffff;
  }

  input {
    width: 205px;
    height: 18px;
    @media (min-width: 769px) and (max-width: 1024px) {
      width: 90%;
    }
    @media (min-width: 1025px) {
      width: 205px;
    }
  }

  .close {
    background-image: url("../images/x.png");
    background-position: center;
    background-size: contain;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background-color: #00cfe0;
    border: 1px solid #00cfe0;
  }
}

#loginFirstStep {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  input {
    margin-bottom: 5px;
  }
}

#loginSecondStep {
  display: none;
}

nav {
  padding-top: 10px;
  a {
    color: #ffffff;
    text-decoration: none;
    padding-right: 5px;
  }

  a:last-child {
    padding-right: 5px;
    float: right;
  }
}

//Here starts dashboard.html styling
#dashboard {
  background-color: #dadbdb;
  min-height: 100vh;
  min-width: 100vw;
  font-size: 15px;
  //Here start navigation menu
  header {
    background-color: #00cfe0;
    display: flex;
    align-items: center;
    height: 60px;
    //position: relative;
    @media (min-width: 767px) {
      height: 120px;
    }
  }

  .desktopMenu {
    display: none;
    @media (min-width: 767px) {
      display: flex;
    }
  }

  .mobileMenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logoMobile {
      height: 37px;
      width: 49px;
    }
    @media (min-width: 767px) {
      display: none;
    }
  }

  .user {
    display: flex;
    flex-direction: row;

    img {
      height: 80px;
      width: 80px;
    }

    .logo-d {
      height: 80px;
      width: 80px;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid rgba(255, 255, 255, .3);
      border-radius: 2%;

      img {
        height: 37px;
        width: 48px;
      }
    }

    .userData {
      width: 115px;
      font-size: 20px;
      padding-left: 18px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }

    .userInfo {
      img {
        height: 10px;
        width: auto;
        padding-right: 18px;
      }
    }
  }

  nav {
    display: flex;
    flex-direction: row;
    height: 100%;
    padding-top: 0;
    //position: absolute;

    a {
      width: 25%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;

      img {
        height: 28px;
        width: 30px;
      }
    }
    a:hover {
      background-color: #000000;
      height: 120px;
      position: relative;
    }
    a:hover::before {
      content: "";
      bottom: -7px;
      right: 18px;
      position: absolute;
      background-color: #000000;
      width: 16px;
      height: 16px;
      border-radius: 50%;
    }
  }

  .exit {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    img {
      height: 26px;
      width: 26px;
      margin-right: 5px;
      margin-left: 5px;
    }
  }
  //Here starts dashboard userData
  .dashboardData {
    color: #000000;

    h1 {
      font-size: 50px;
    }

    h2 {
      font-size: 25px;
    }

    button {
      width: 80px;
      height: 30px;
      border-radius: 4px;
      background-color: #13bdd2;
      color: #ffffff;
    }

    .financeLifeStream {
      display: none;
      @media (min-width: 767px) {
        display: flex;
        padding-top: 32px;
        padding-bottom: 32px;
      }
    }

    .financeData {
      display: none;
      @media (min-width: 767px) {
        display: flex;
      }
    }
  }

  .accountsAnalysis {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .offOnButtons {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffffff;
    width: 80px;
    height: 30px;
    button {
      background-color: #dadbdb;
      color: black;
      width: 38px;
      height: 25px;
    }
  }

  .chart {
    height: 248px;
  }

  .productsBoxes {
    height: 88px;
    width: 100%;
    background-color: #ffffff;
    margin-bottom: 11px;
    display: flex;
    flex-direction: row;
    align-items: center;

    img {
      height: 38px;
      width: 38px;
      margin-right: 13px;
      margin-left: 18px;
    }
  }

  .productsBoxesBlue {
    height: 88px;
    width: 100%;
    background-color: #13bdd2;
    margin-bottom: 11px;
    display: flex;
    flex-direction: row;
    align-items: center;
    img {
      height: 38px;
      width: 38px;
      margin-right: 13px;
      margin-left: 18px;
    }
  }

  .history {
    height: 325px;
    width: 100%;
    background-color: #ffffff;
  }
}
